@font-face {
  font-family: yekan;
  src: url(../fonts/IRANSansX-Regular.woff);
} 

@media (max-width: 992px) {
  .paddingtop {
    padding-top: 100px;
  }

.paddingbottom{
padding-bottom: 100px;
}

  .margin {
    margin-bottom: 20%;
  }
  .my-card:focus {
    background: rgb(97,237,166);
    background: linear-gradient(0deg, rgba(97,237,166,1) 0%, rgba(75,183,128,1) 50%, rgba(54,131,92,1) 100%);
      box-shadow: -5px 5px 20px green;
  }
  .mycard:focus>.myhover{
    border: none;
    background: rgb(55,133,94);
    background: linear-gradient(0deg, rgba(55,133,94,1) 0%, rgba(75,183,128,1) 50%, rgba(98,239,168,1) 100%);
  }
  

}

@media (max-width: 772px) {
  .rounded-top-md {
    border-top-right-radius: 20px !important;
    border-top-left-radius:  20px !important;
    
    
  }
  .rounded-bottom-md {
    border-bottom-left-radius: 20px !important;
    border-bottom-right-radius: 20px !important;
  }
}
@media (min-width: 772px) {
  .rounded-top-md {
    border-top-right-radius: 20px !important;
    border-bottom-right-radius: 20px !important;    
  }
  .rounded-bottom-md {
    border-top-left-radius:  20px !important;
    border-bottom-left-radius: 20px !important;
  }
  .myscale{
    transform: scale(1.3);
  }
  
}




@font-face {
  font-family: yekan;
  src: url(../fonts/BYekan.woff);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: yekan;
}

body {
  background-color: #25262a;
  max-width: 1600px;
}

a{
  text-decoration: none !important;
}

.justify{
  text-align: justify;
}

.myspan {
  font-weight: 900;
  line-height: 0.7;
  font-size: 70px;
}

.mycontainer {
  overflow-x: hidden;
}

.mybgcustom {
  background-color: #2d2e32 !important;
}

.paddingtop {
  padding-top: 130px;
}

.paddingbottom{
  padding-bottom: 130px;
}

.mycard {
  transition: all linear 150ms;
}

.mycard:hover {
  background: rgb(97,237,166);
background: linear-gradient(0deg, rgba(97,237,166,1) 0%, rgba(75,183,128,1) 50%, rgba(54,131,92,1) 100%);
  box-shadow: -5px 5px 20px green;
}

.myhover{
  border: 1px solid white;
}

.mymove{
  padding-right: 10px !important;
  transition: all linear 300ms;
}

.mymove:hover{
  padding-right: 20px !important;
}

.mycard:hover>.myhover{
  border: none;
  background: rgb(55,133,94);
  background: linear-gradient(0deg, rgba(55,133,94,1) 0%, rgba(75,183,128,1) 50%, rgba(98,239,168,1) 100%);
}

.mybtnshadow {
  box-shadow: 0px 3px 10px whitesmoke;
}

.mybtnshadow2{
  box-shadow: 0px 3px 10px yellow;
}


.mybtnshadow:hover ,
.mybtnshadow2:hover
{
  box-shadow: none;
}

.mycolor{
  color: #64F4AB;
}

.myrounded{
  border-radius: 10%;
}

.mycircle{
  width: 34px;
  height: 34px;
}

.mysqure{
  width: 24px;
  height: 24px;
}

.myposition{
  top: 75%;
  left: 50%;
  transform: translate(-50% , 21%);
}

i.mybgcustom{
  font-size: 18px;
  transition: all linear 150ms;
}

i.mybgcustom:hover{
  background-color: #E5B00C !important;
  color: #2d2e32 !important;
}